@use "../abstract/" as *;
@use "../base/" as *;

// FOOTER
.footer {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 8rem;
  }
  &__social {
    h4 {
      color: $clr-footer-gray;
      font-size: 0.8rem;
      max-width: 15rem;
      margin-bottom: 3rem;
      font-weight: 400;
      a {
        color: $clr-footer-gray;
        &:hover {
          color: $clr-primary;
          transition: 0.5s;
        }
      }
    }
    &--icons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      li a i {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        color: $clr-light;
        border: 2px solid $clr-light;
        padding: 0.9rem;
        border-radius: 50%;
        &:hover {
          border: 2px solid $clr-primary;
          background-color: $clr-primary;
          transition: 0.2s;
        }
      }
    }
  }
  &__address {
    h4 {
      color: $clr-footer-gray;
      font-size: 0.8rem;
      font-weight: 400;
      max-width: 15rem;
      margin-bottom: 3rem;
    }
  }
}

.backToTop {
  position: fixed;
  bottom: 2rem;
  right: 10rem;
  z-index: 9999;
  i {
    color: $clr-light;
    border: 2px solid $clr-light;
    border-radius: 50%;
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0.9rem 0 0 0.9rem;
    &:hover {
      background-color: $clr-primary;
      border: 2px solid $clr-primary;
      transition: 0.5s ease;
    }
  }
}
